<%- include ("partials/header") %> 
<%- include ("partials/navbar") %>

<section class="hero">
  <header class="hero_title">
    <h3>Whoops!</h3>
    <p>Looks like the page you're looking for doesn't exist!</p>
  </header>
</section>
</main>

<%- include ("partials/footer") %>
