<%include ./partials/header%>
<%include ./partials/navbar%>

<div>
    <h1 class="align_center">FRONT-END DEVELOPMENT</h1>
</div>
<span>
    <h2 class="align_center">The Basics</h2>
</span>
<div class="timeline">
    <div class="container left">
        <div class="content">
            <h2>HTML</h2>
            <p>The Hypertext Markup Language (HTML) is essential for every website you’re implementing. By using HTML you’re defining and structuring the content of a website by using a simple markup syntax.</p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Learn the basics of HTML.</li>
                <li>Learn how to section the page properly.</li>
                <li>Practice, practice, and more practice</li>
            </ul>
            <a href="https://www.codecademy.com/learn/learn-html">Codecademy</a>
            <a href="https://www.youtube.com/playlist?list=PLr6-GrHUlVf_ZNmuQSXdS197Oyr1L9sPB">Youtube Tutorial</a>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>CSS</h2>
            <p>Cascading Style Sheets (CSS) is a simple way for adding styling to your websites (e.g. adding fonts, colors, layout etc).</p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Learn the basics of CSS.</li>
                <li>Understand the CSS Box Model.</li>
                <li>Learn about the Grid, Flexboxes, and Media Queries. </li>
            </ul>
            <a href="https://www.codecademy.com/learn/learn-css">Codecademy</a>
            <a href="https://www.youtube.com/playlist?list=PLr6-GrHUlVf8JIgLcu3sHigvQjTw_aC9C">Youtube Tutorial</a>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>JAVASCRIPT</h2>
            <p>JavaScript is the essential building block for adding dynamic features to your website.</p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Learn the basic construct and proper syntax.</li>
                <li>Learn how to work with the DOM.</li>
                <li>Learn ES6 features and writing modular Javascript.</li>
            </ul>
            <a href="https://www.codecademy.com/learn/introduction-to-javascript">Codecademy</a>
            <a href="https://www.youtube.com/playlist?list=PLr6-GrHUlVf96NLj3PQq-tmEB6woZjwEl">Youtube Tutorial</a>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>JQUERY</h2>
            <p>A lightweight, "write less, do more", JavaScript library. The purpose of jQuery is to make it much easier to use JavaScript on your website.</p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Learn HTML DOM traversal and manipulation.</li>
                <li>Learn event handling and CSS animations.</li>
                <li>Learn and understand AJAX. </li>
            </ul>
            <a href="https://www.codecademy.com/learn/learn-jquery">Codecademy</a>
            <a href="https://www.youtube.com/playlist?list=PLr6-GrHUlVf_RNxQQkQnEwUiHELmB0fW1">Youtube Tutorial</a>
        </div>
    </div>
</div>
<span>
    <h2 class="align_center">Dive Deeper</h2>
</span>
<div class="timeline">
    <div class="container left">
        <div class="content">
            <h2>CSS: PREPROCESSORS</h2>
            <p>Preprocessors allow you to add functionalities on top of CSS and lets you do things that CSS can't.</p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Understand about "why" preprocessors are useful.</li>
                <li>Learn and practice Sass.</li>
                <li>Practice, practice, and more practice.</li>
            </ul>
            <a href="https://www.codecademy.com/learn/learn-sass">Codecademy</a>
            <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9iEwigam3gTjU_7IA3W2WZA">Youtube Tutorial</a>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>CSS: FRAMEWORKS</h2>
            <p>CSS frameworks have become the foundations of web projects and made easy web developing streamline. Most of these frameworks contain numerous grid system, cross browser device compatibility fixes, custom layout and many more opportunities.</p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Look into Bootstrap.</li>
                <li>Look into Materialize.</li>
                <li>Choose one that works for you and practice. </li>
            </ul>
            <a href="https://www.youtube.com/watch?v=5GcQtLDGXy8&t">Bootstrap</a>
            <a href="https://www.youtube.com/watch?v=gCZ3y6mQpW0&list=PL4cUxeGkcC9gGrbtvASEZSlFEYBnPkmff">Materialize</a>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>CSS: ARCHITECTURE</h2>
            <p>Refers to the structure and build up of CSS in your projects. This way they are more maintainable. </p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Look into BEM, OOCSS, SMACSS.</li>
                <li>Understand the differences.</li>
                <li>Choose one that works for you and practice. </li>
            </ul>
            <a href="https://www.youtube.com/watch?v=IKFq2cSbQ4Q">OOCSS, SMACSS &amp; BEM</a>
            <a href="https://philipwalton.com/articles/css-architecture/">CSS Architecture by Philip Walton</a>
        </div>
    </div>
</div>
<span>
    <h2 class="align_center">Dive Even Deeper</h2>
</span>
<div class="timeline">
    <div class="container right">
        <div class="content">
            <h2>BUILD TOOLS</h2>
            <p>The process of automating the creation of a software build and the associated processes including: compiling computer source code into binary code, packaging binary code, and running automated tests.</p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Look into Gulp / Grunt / NPM Scripts as task runners.</li>
                <li>Look into module bundling with Webpack.</li>
                <li>Incorporate linting tools such as JSHint, ESLint, JSLint in your development to analyze your code for potential errors. </li>
            </ul>
            <a href="https://www.youtube.com/watch?v=1rw9MfIleEg">Gulp</a>
            <a href="https://www.youtube.com/watch?v=lziuNMk_8eQ">Webpack</a>
            <a href="https://www.youtube.com/watch?v=clzTwZgMlqE">ESLint</a>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>JAVASCRIPT: FRONT-END FRAMEWORKS &amp LIBRARIES</h2>
            <p> There are a number of frameworks and libraries available to learn and use at your disposal. The trick know about them but choose and master one first.</p>
            <p><strong>Key Differences to remember:</strong></p>
            <ul>
                <li>A library performs specific, well-defined operations.</li>
                <li> A framework is a skeleton where the application defines the "meat" of the operation by filling out the skeleton. The skeleton still has code to link up the parts but the most important work is done by the application.</li>
            </ul>
            <a href="https://www.youtube.com/watch?v=sBws8MSXN7A">ReactJs</a>
            <a href="https://www.youtube.com/watch?v=Wy9q22isx3U">VueJs</a>
            <a href="https://www.youtube.com/watch?v=Fdf5aTYRW0E">AngularJs</a>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>FRONT-END TESTING</h2>
            <p> Testing Graphical User Interface (GUI), functionality and usability of website or application.The main aim of Frontend testing to make sure that every user is well-protected from bugs. It also helps you to get the complete clarity about the scope of the project.</p>
            <p><strong>Getting it done:</strong></p>
            <ul>
                <li>Learn some Front-end testing tools such as Jasmine, Needle, Browsera.</li>
                <li>Learn about performance optimization.</li>
                <li>Learn about testing frameworks such as Mocha, Jest, Protactor. </li>
            </ul>
            <a href="https://www.youtube.com/watch?v=MLTRHc5dk6s">Mocha</a>
            <a href="https://www.youtube.com/playlist?list=PLLnpHn493BHGpGXukqYsxwQw3ziW3uti6">Performance Optimization</a>
            <a href="https://www.youtube.com/playlist?list=PL_noPv5wmuO9op-OQ22SbHcqFGGHA6iIZ">Jasmine</a>
        </div>
    </div>
</div>
<span>
    <h2 class="align_center">KEEP EXPLORING</h2>
</span>

<%include ./partials/footer%>
