<%include ./partials/header%>
<%include ./partials/navbar%>
<div>
    <h1>FULL STACK DEVELOPMENT: NODEJS</h1>
    <p>So you woke up and decided you want to take on the journey of web development?! <br>Well that's great and I think the world becomes a better place because of your "brave" choice. <br>
        However, the journey you've chosen is a long one and will require the very best out of you. These guides are to help you navigate your way through the paths you will encounter.</p>

    <a href="/frontend"><input type="button" value="FRONT-END DEVELOPMENT"></a>
    <a href="/backend"><input type="button" value="BACK-END DEVELOPMENT"></a>

</div>

<%include ./partials/footer%>
