<%include ./partials/header%> <%include ./partials/navbar%>

<section class="hero">
  <header class="hero_title">
    <h1>Full Stack Developer</h1>
    <p>Every journey has a roadmap, this is yours!</p>
  </header>
</section>

<main>
  <section class="row">
    <article class="column">
      <h2 class="align_center underline">WHAT IS THIS?</h2>
      <p>
        A roadmap with guidelines for becoming a better suited Full Stack
        Developer. The idea stems from wanting to learn more about the many
        frameworks, methodologies, and aspects that contribute to the forever
        growing area that is software development. With many articles,
        suggestions and posts out there that can give you detailed description
        of this particular journey, this roadmap aims to add some value and help
        your dev skills grow.
      </p>
    </article>
    <article class="column">
      <h2 class="align_center underline">WHY DO THIS?</h2>
      <p>
        The overall focus of this roadmap is for "new" or "semi-accomplished"
        full stack developers who want to up their knowledge on either the ends
        of development. Consider this guide as a point of reference to a
        developers journey. Some things may already be known to you, while some
        not. Nevertheless, in the general grand scheme of everything, there is
        always more to learn.
      </p>
    </article>
  </section>
  <section>
    <h2 class="align_center underline">CONTENT STRUCTURE OF THIS ROADMAP</h2>
    <p>
      The Frontend is focused on building and mastering website development
      skills on your own. Nevertheless, working with a CSS preprocessor and
      frameworks are encouraged in the learning process as they increase
      knowledge and experience.
    </p>
    <p>
      The Backend focuses on learning and understanding Node.js. By first
      covering the basics and venturing further to utilizing other technologies
      with NodeJs. The aim is to gain an extensive knowledge base on the many
      aspects that are considered backend development.
    </p>
  </section>
</main>

<%include ./partials/footer%>
