<%include ./partials/header%>
<%include ./partials/navbar%>

<main>
    <div>
        <h1 class="align_center">FULL-STACK DEV: NODEJS</h1>
        <p class="align_center">So you woke up and decided you want to take on the journey of a developer?!</p>

        <h3 class="align_center">WHAT IS THIS?</h3>
        <p>This is my suggested roadmap with guidelines for becoming a better suited Full-Stack developer. The idea stems from wanting to learn more about the many frameworks, methodologies, and aspects that contribute to the forever growing area that is software development. With many articles, suggestions and posts out there that can give you detailed description of this particular journey, this roadmap aims to add some value and help your dev skills grow.</p>

        <h3 class="align_center">WHY DO THIS?</h3>
        <p>The overall focus of this roadmap is for "new" or "semi-accomplished" NodeJs developers who want to up their knowledge on either the ends of development. Consider this guide as a point of reference to a developers journey. Some things may already be known to you, while some not. Nevertheless, in the general grand scheme of everything, there is always more to learn.</p>

        <h3 class="align_center">CONTENT STRUCTURE OF THIS ROADMAP</h3>
        <p>The Frontend is focused on building and mastering website development skills on your own. Nevertheless, CSS preprocessors and frameworks are encouraged in the learning process as they increase knowledge and experience.</p>
        <p>The Backend focuses on learning and understanding NodeJs. By first covering the basics and venturing further to utilising other technologies with NodeJs. The aim is to gain an extensive knowledge base on the many aspects that are considered backend development.</p>
    </div>
</main>

<%include ./partials/footer%>
