<%include ./partials/header%>
<%include ./partials/navbar%>

<main>
    <div class="align_center">
        <h1>FULL-STACK DEV: NODEJS</h1>
        <p>So you woke up and decided you want to take on the journey of web development?!</p>
        <p>Well that's great and I think the world becomes a better place because of your "brave" choice.</p>
        <p>However, the journey you've chosen is a long one and will require the very best out of you.</p>
        <p>These guides are to help you navigate your way through the paths you will encounter.</p>
    </div>
</main>

<%include ./partials/footer%>
